<div class="container" *ngIf="character!=null;">
  <div class="row">
    <div class="col-2 m-5">
      <div class="card d-flex flex-row" style="width: 18rem;">
        <div>
          <img src="{{character.image}}" class="card-img-top">
          <div class="card-body ">
            <h5 class="card-title">Name: {{character.name}}</h5>
            <p>Status: {{character.status}}</p>
            <p>Specie: {{character.species}}</p>
            <p>Gender: {{character.gender}}</p>
            <p>Origin: {{character.origin.name}}</p>
            <p>Location: {{character.location.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
